<h1>Categories</h1>
<ul>
	{{#each categories}}
	<li>
		<a href="/categories/{{id}}">{{name}}</a>
		<form method="POST" action="/categories/{{id}}" enctype="application/x-www-form-urlencoded">
		  <input type="hidden" name="_method" value="DELETE">
		  <button type="submit">Delete resource</button>
		</form>
	</li>
	{{/each}}
</ul>

<a href="/categories/new">Create new category</a>